<footer class="container-fluid bg-dark">
    <div class="row py-5">
        <div class="col-12 col-md-4">
            <figure class="figure">
                <img src="assets/images/alianza-logo.svg" class="img-fluid" alt="Alianza Logo">
            </figure>
        </div>
        <div class="col-12 col-md-4">

        </div>
        <div class="col-12 col-md-4">
            <address>
                <a class="text-reset" href="https://www.alianzacv.org/" target="_blank">https://www.alianzacv.org/</a><br />
                PO Box 38 Coachella, CA 92236<br />
                info@alianzacv.org<br />
                (760) 972-4628<br />
                <i class="bi bi-c-circle"></i> <span><script>document.write(new Date().getFullYear())</script></span> Alianza Coachella Valley. <br />
                EIN: 84-1966709
            </address>
            <div class="text-center">
                <p><small class="font-small">Icons <i class="bi bi-cc-circle"></i><i class="bi bi-person-circle"></i> CC BY 3.0 The Noun Project. Didik Darmanto, Larea, Omah Icon, Khulqi Rosyid</small></p>
            </div>
        </div>
    </div>
</footer>