<section id="introduction" style="background-color:#CFDFEB; color:#2F4D71;">

  <div class="container-fluid">
    <div class="row justify-content-center pt-5">
      <div class="col-12 col-md-10 col-xl-8">
        <h4 class="inter-font" style="font-weight:400;"><strong>The Eastern Coachella Valley</strong>—comprised largely of unincorporated communities—and the Imperial Valley together form the broader <strong>Salton Sea region.</strong></h4>
      </div>
    </div>
    <div class="row justify-content-center pt-3">
      <div class="col-12 order-1 order-sm-1 col-sm-6 col-md-5 col-xl-4">
        <p>These areas are home to predominantly Latino immigrant communities, many of whom work as low-wage farm laborers or in service jobs that support a relatively prosperous surrounding economy. Despite the richness of culture and contribution, the region faces shared challenges: environmental degradation (from the drying Salton Sea, extreme heat, and polluted air and water), limited public infrastructure and amenities, economic inequality, climate vulnerability, and pressing public health concerns.</p>
      </div>
      <div class="col-12 order-2 order-sm-2 col-sm-6 col-md-5 col-xl-4">
        <figure class="figure">
           <img src="assets/images/02-tractor.jpg" alt="A tractor plowing a field" class="img-fluid">
        </figure>
      </div>
    </div>
    <div class="row justify-content-center pt-3">
      <div class="col-12 order-4 order-sm-3 col-sm-6 col-md-5 col-xl-4">
        <figure class="figure">
          <img src="assets/images/03-organizing.jpg" alt="A group of people organizing with signs" class="img-fluid">
        </figure>
      </div>
      <div class="col-12 order-3 order-sm-4 col-sm-6 col-md-5 col-xl-4">
        <p>Yet, our region is also bound by a collective vision: one of shared economic opportunity, environmental resilience, and improved social well-being. This vision draws from the principles of Solidarity Economics, which emphasize mutuality, fairness, and inclusion as pathways to broad-based prosperity. To realize this future, we must begin by building a strong, unified regional identity—one that uplifts all communities and ensures that no one is left behind.</p>
      </div>
    </div>
    <div class="row justify-content-center pt-3">
      <div id="regional-engagement-at-the-salton-sea" class="col-12 col-sm-10 col-xl-8">
        <h2 class="display-6 fw-lighter pb-3 pt-5">Regional Engagement at the Salton Sea</h2>
        <button type="button" data-bs-toggle="collapse" data-bs-target="#rationale" class="btn border mb-3 bg-transparent border-secondary rounded-0 text-body-secondary btn-lg text-start" style="color:#676B82!important;">Rationale <i class="bi bi-arrow-down float-end"></i></button>
        <div id="rationale" class="collapse">
          <p>The driving force behind this regional engagement has been to address the historical underinvestment in Salton Sea communities. We believe that for smaller rural communities, developing a regional identity and capacity for collaboration is key to increasing competitiveness and securing resources.</p>
        </div>
        <button type="button" data-bs-toggle="collapse" data-bs-target="#activities" class="btn border mb-3 bg-transparent border-secondary rounded-0 text-body-secondary btn-lg text-start" style="color:#676B82!important;">Activities to date <i class="bi bi-arrow-down float-end"></i></button>
        <div id="activities" class="collapse">
          <p>Since 2020, roundtable meetings in the Salton Sea region have fostered collaboration among local, regional, and state governments, as well as NGOs and academia. These convenings took place in March 2021, April 2022, August 2022, November 2023, February 2025, April 2025, and June 2025. They are planned to continue as we see the importance of dialogue, coordination and ultimately collaboration in order to advance the Salton Sea region into a prosperous future for all.</p>
          <p>These conversations have informed the creation of the Our Salton Sea report, which provides a more integrated vision for the remediation of the Salton Sea communities, and the Land Use Alignment Initiative, an analysis of general plan elements across jurisdictions surrounding the Salton Sea that identifies areas of mutual priority. </p>
        </div>
        <button type="button" data-bs-toggle="collapse" data-bs-target="#stakeholders" class="btn border mb-3 bg-transparent border-secondary rounded-0 text-body-secondary btn-lg text-start" style="color:#676B82!important;">Stakeholders <i class="bi bi-arrow-down float-end"></i></button>
        <div id="stakeholders" class="collapse">
          <p>Alianza Coachella Valley has engaged with a diverse range of stakeholders, including:</p>
          <ul>

            <li><strong>Tribes</strong> and <strong>local agencies</strong> such as the Imperial Irrigation District and the Coachella Valley Association of Governments.</li>
            <li><strong>State agencies</strong>, including the Strategic Growth Council and the California Natural Resources Agency.</li>
            <li><strong>The Governor&lsquo;s Office</strong>, through senior advisors and external affairs teams.</li>
            <li><strong>Local governments</strong>, such as the Salton Sea Authority and Imperial and Riverside Counties.</li>
            <li><strong>Foundations</strong>, including the California Endowment.</li>
            <li><strong>Nonprofits</strong>, from Audubon California to Líderes Campesinas.</li>
            <li><strong>Impacted communities</strong>, living throughout the Salton Sea region.</li>
          </ul>
        </div>
        <button type="button" data-bs-toggle="collapse" data-bs-target="#strategic-path-forward" class="btn border mb-3 bg-transparent border-secondary rounded-0 text-body-secondary btn-lg text-start" style="color:#676B82!important;">Strategic Path Forward<i class="bi bi-arrow-down float-end"></i></button>
        <div id="strategic-path-forward" class="collapse">
          <ol>
          <li><strong>Identify Shared Priorities</strong> &ndash; Align regional efforts under common project themes: 1. Addressing infrastructure to uplift the region 2. Advancing trails &amp; other active transportation opportunities 3. Enhancing Economic Development Opportunities</li>
          <ol>
          <li>Through a series of conversations, we have identified regional shared priorities as being:</li>
          <ol>
          <li>A network of similar Community Resiliency Centers that follows a hub and spoke model to address needs in each area of the region</li>
          <li>A network of trails to improve community access to critical services, programs, and resources <br /><br /></li>
          </ol>
          </ol>
          <li><strong>Develop a Project Portfolio</strong> &ndash; Select and organize projects that align with these priorities.</li>
          <ol>
          <li>Projects that are already underway are:</li>
          <ol>
          <li>City of Coachella Climate Resiliency Center</li>
          <li>Alianza Coachella Valley Community Resilience Campus</li>
          <li>County of Riverside Climate Resiliency Center</li>
          <li>Niland&rsquo;s Lithium Valley Visitor&rsquo;s Center Complex with Community Resiliency Center</li>
          <li>Calipatria Services Center</li>
          <li>CV Link under construction connecting Palm Springs to Coachella</li>
          <li>CV Link Mecca-North Shore Extension</li>
          <li>Alianza Shores to Sea Trail</li>
          <li>Audubon Lizard Trail</li>
          <li>Imperial Valley Lithium Valley natural corridor trails<br /><br /></li>
          </ol>
          </ol>
          <li><strong>Advance Collaborative Action</strong> &ndash; Leverage collective resources and take strategic steps to secure public and philanthropic investments.</li>
          <ol>
          <li>After roundtable and interim discussions, the region needs:</li>
          <ol>
          <li>Coordinated action to go after available funding through the California climate bond and other financial sources</li>
          <li>Studies and data needed to complete each phase of implementation</li>
          </ol>
          </ol>
          </ol>
        </div>
        <button type="button" data-bs-toggle="collapse" data-bs-target="#combating-false-narrative" class="btn border mb-3 bg-transparent border-secondary rounded-0 text-body-secondary btn-lg text-start" style="color:#676B82!important;">Combating a False Narrative<i class="bi bi-arrow-down float-end"></i></button>
        <div id="combating-false-narrative" class="collapse">
          <p>To counter a persistent false narrative that our counties and jurisdictions are divided, Alianza Coachella Valley and its partners launched the Land Use Alignment Initiative. Through community-grounded conversations and research, we found that neighboring jurisdictions across both counties actually share far more in common than is often acknowledged by state and federal agencies.</p>
          <p>The initiative confirmed what local communities have long known: we all want the same things for our region&ndash;economic opportunity, environmental health, and a better quality of life. The real challenge lies not in our differences, but in how we communicate our shared goals among ourselves, with our residents, and to outside stakeholders.</p>
        </div>
        <div class="mb-5">&nbsp;</div>

      </div>
    </div>


  </div>


</section>