<!-- 
<nav class="navbar sticky-top text-white navbar-expand-sm" style="background-color: var(--dark-background, #5E7B9A);">
  <div class="container-fluid">
    <button class="navbar-toggler bg-secondary my-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon fs-6"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        <a class="nav-link text-reset active" aria-current="page" href="#home">Home</a>
        <a class="nav-link text-reset" href="#video">Introduction Video</a>
        <a class="nav-link text-reset" href="#introduction">About this Project</a>
        <a class="nav-link text-reset" href="#dashboard">Community Dashboard</a>
        <a class="nav-link text-reset" href="#datatable">Data</a>
      </div>
    </div>
  </div>
</nav> -->
<!-- <nav id="top" class="fixed-top text-center bg-white shadow" style="height:132px;background-image:url('assets/images/thriving-nav-header.png');background-size: auto 100%;background-position:center;background-repeat:no-repeat;">
</nav> -->