
<nav class="navbar sticky-top bg-light navbar-expand-sm">
  <div class="container-fluid">
    <button class="navbar-toggler bg-secondary my-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon fs-6"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#home">Home</a>
        <a class="nav-link" href="#video">Introduction Video</a>
        <a class="nav-link" href="#introduction">About this Project</a>
        <a class="nav-link" href="#dashboard">Community Dashboard</a>
        <a class="nav-link" href="#datatable">Data</a>
      </div>
    </div>
  </div>
</nav>