<section id="video" class="py-5" style="background-color:#CFDFEB; color:#2F4D71;">

  <div class="container-fluid d-flex flex-column justify-content-center align-items-center">

    <div class="row justify-content-center my-4">
      <div class="col-12">
        <video controls preload="metadata" width="100%" height="auto" poster="assets/images/poster.jpg" data-current-language="english">
          <source src="assets/images/salton-sea-opener-english.mp4" type='video/mp4; codecs="avc1.640028, mp4a.40.2"'>
          <track
            label="English"
            kind="subtitles"
            srclang="en"
            src="assets/images/salton-sea-opener-english.vtt" />
          <track
            label="Español"
            kind="subtitles"
            srclang="es"
            src="assets/images/salton-sea-opener-spanish.vtt" />
        </video>
        <div class="btn-group float-end" role="group">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-translate"></i> Language
            </button>
            <ul class="language-drop-down dropdown-menu dropdown-menu-dark dropdown-menu-end">
              <li><button class="dropdown-item active" data-language="english" type="button">English</button></li>
              <li><button class="dropdown-item" data-language="spanish" type="button">Español</button></li>
            </ul>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-badge-cc"></i> Captions
            </button>
            <ul class="caption-drop-down dropdown-menu dropdown-menu-dark dropdown-menu-end">
              <li><button class="dropdown-item" type="button">English</button></li>
              <li><button class="dropdown-item" type="button">Español</button></li>
              <li><button class="dropdown-item active" type="button">Turn off</button></li>
            </ul>
          </div>
        </div>
     </div>
    </div>

  </div>

</section>