<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="uft-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thriving Salton Sea</title>
  <link rel="stylesheet" href="assets/css/main.css">

</head>
<body>

{% include "hero.njk" %}

{% include "dashboard.njk" %}

{% include "data-table.njk" %}

{% include "video-opener.njk" %}

{% include "instructions.njk" %}

<p class="text-center lh-1"><small class="font-small">Icons <i class="bi bi-cc-circle"></i><i class="bi bi-person-circle"></i> CC BY 3.0 The Noun Project. Didik Darmanto, Larea, Omah Icon, Khulqi Rosyid. Project Design by Richard Koci Hernandez and Jeremy Sanchez Rue.</small></p>
<script src="assets/js/d3.v7.min.js"></script>
<script src="assets/js/jquery-3.7.1.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/datatables.min.js"></script>
<script src="assets/js/iframeResizer.contentWindow.min.js"></script>
{% include "components/data.njk" %}
</body>
</html>